@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: dodgerblue;
    padding-top: 70px;
}
input:focus {
    outline: none;
  }
  
.login-screen {
    width: 900px;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
}
.vectorcomp-image{
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    width: 500px;
    height: 600px;
}
.login-container{
    background-color: rgb(232, 231, 253);
    width: 400px;
    height: 600px;
    float: right;
    display: flex;
    display: block;
}
.login-container-title{
    padding: 0px 0px 50px 0px;
    font-weight: 60;
    font-size: 40px;
    color: rgb(44, 44, 44);
  
}
.login-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.login-content-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.password-input{
    max-width: 300px;
    border: 1px solid rgb(189, 203, 250);
    border-radius: 12px;
    padding: 8px;
}
.email-input{
    max-width: 300px;
    border: 1px solid rgb(189, 203, 250);
    border-radius: 12px;
    padding: 8px;
}
.forgot-password{
    text-decoration: none;
    color: gray;
    padding: 2px 0px 0px 195px;
    font-size: 12px;
    letter-spacing: 0.2px;
}
.login-button{
    padding: 6px 24px;
  max-width: 100px;
  border-radius: 20px;
  color: white;
  background-color: rgb(12, 117, 255);
  border: 1px solid transparent;
  letter-spacing: 0.5px;
  font-size: 14px;
}
.login-button:hover{
    color: rgb(12, 117, 255);
    background-color: rgb(232, 231, 253);
    border: 1px solid rgb(12, 117, 255);
}
.login-button-checkbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.remember-me{
    margin-right: 4px;
}
.sign-up{
    display:flex;
    
    
}
.sign-up-button{
    
}