@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: dodgerblue;
    padding-top: 70px;
}

.login-screen {
    width: 900px;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
}
.vectorcomp-image{
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    width: 500px;
    height: 600px;
}
.login-container{
    background-color: rgb(232, 231, 253);
    width: 400px;
    height: 600px;
    float: right;
    display: flex;
    display: block;
}
.login-inputs{
}
.login-content-information{
    padding: 70px 0px 30px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.password-input{
    height: 25px;
    border: solid rgb(189, 203, 250);
    border-radius: 12px;
    width: 300px;
}
.email-input{
    height: 25px;
    border: solid rgb(189, 203, 250);
    border-radius: 12px;
    width: 300px;
}
.forgot-password{
    text-decoration: none;
    color: gray;
    padding: 2px 0px 0px 195px;
    font-size: 12px;
}
.login-button{
  padding: 5px 7px 5px 7px;
  max-width: 120px;
}
.login-container-title{
    padding: 40px 0px 80px 0px;
    font-weight: 60;
    font-size: 40px;
    color: rgb(44, 44, 44);
}
.sign-up{
    display:flex;
    
    
}
.sign-up-button{
    
}